.Home {
  background-color: #000;
  padding-top: 5rem;
}
@media (max-width: 530px) {
  .Home {
    padding-top: 3rem;
  }
}
@media (max-width: 435px) {
  .Home {
    padding-top: 2rem;
  }
}
