.courses_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.courses_title {
  color: #fff;
  font-family: gilroy-extra;
  font-size: 47.373px;
}
.courses_block {
  position: relative;
  width: 495px;
  padding: 20px;
  border-radius: 20px;
  background: #202020;
}
.courses_or {
  color: #fff;
  text-align: center;
  font-family: gilroy-extra;
  font-size: 35px;
}
.courses_block_title {
  font-family: gilroy-semi;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 133, 98);
  margin-bottom: 25px;
}
.courses_block_number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-family: gilroy-med;
  color: #3c3c3c;
  user-select: none;
}
.courses_block_par {
  color: #fff;
  font-family: inter;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

/* АДАПТИВНОСТЬ */

@media (max-width: 925px) {
  .courses_container {
    padding: 0 20px;
  }
  .courses_title {
    font-size: 42px;
  }
  .courses_block {
    width: 445px;
    padding: 20px;
  }
  .courses_block_title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .courses_block_par {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 490px) {
  .courses_title {
    font-size: 38px;
  }
  .courses_block {
    width: 400px;
    padding: 15px 15px;
  }
  .courses_block_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .courses_block_par {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 435px) {
  .courses {
    margin-bottom: 3rem;
  }
  .courses_title {
    font-size: 32px;
  }
  .courses_block {
    width: 350px;
    padding: 15px 15px;
  }
  .courses_block_title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .courses_block_par {
    font-size: 16px;
    line-height: 25px;
  }
  .courses_block_number {
    top: 15px;
    right: 15px;
    font-size: 20px;
  }
  .courses_or {
    font-size: 28px;
  }
}

@media (max-width: 410px) {
  .courses_title {
    font-size: 30px;
  }
}

@media (max-width: 385px) {
  .courses_block {
    width: 320px;
  }
  .courses_block_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 350px) {
  .courses_title {
    font-size: 26px;
  }
  .courses_block {
    width: 100%;
    padding: 15px 10px;
  }
  .courses_block_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .courses_block_par {
    line-height: 30px;
  }
}
