.footer {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.85)),
    to(rgba(222, 71, 217, 0.6))
  );
}
.footer_title {
  text-align: center;
  font-family: gilroy-extra;
  font-size: 50px;
  background: linear-gradient(90deg, #fcbd83 0%, #fc8385 49%, #d93ce8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer_subtitle {
  color: #cdcdcd;
  text-align: center;
  font-family: inter;
  font-size: 20px;
  margin-bottom: 45px;
}
.footer_button {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: gilroy-extra;
  font-size: 16px;
  padding: 32px 100px;
  border-radius: 102px;
  background: linear-gradient(90deg, #fcbd83 0%, #fc8385 49%, #d93ce8 100%);
  border: none;
  cursor: pointer;
  z-index: 0;
  box-shadow: 0px 0px 100px 0px rgba(235, 98, 182, 1);
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.footer_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 102px;
  background-image: linear-gradient(
    0.25turn,
    rgba(252, 131, 133, 1) 0%,
    rgba(217, 60, 232, 1) 100%
  );
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s;
}

.footer_button:hover::before {
  opacity: 1;
}
.site_creator {
  margin-top: 2rem;
  font-family: inter;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}

/* АДАПТИВНОСТЬ */
@media (max-width: 750px) {
  .footer {
    padding: 0 20px 1rem 20px;
  }
  .footer_title {
    font-size: 40px;
  }
  .footer_subtitle {
    font-size: 18px;
    margin: 20px 0 45px 0;
  }
}
@media (max-width: 516px) {
  .footer_title {
    font-size: 35px;
  }
  .footer_subtitle {
    font-size: 16px;
  }
  .footer_button {
    font-size: 16px;
    padding: 25px 80px;
  }
}
@media (max-width: 465px) {
  .footer_title {
    font-size: 32px;
  }
  .footer_subtitle {
    font-size: 15px;
  }
  .footer_button {
    font-size: 15px;
    padding: 23px 75px;
  }
}
@media (max-width: 385px) {
  .footer_title {
    font-size: 30px;
  }
  .footer_subtitle {
    font-size: 15px;
  }
  .footer_button {
    font-size: 15px;
    padding: 23px 60px;
  }
  .site_creator {
    font-size: 14px;
  }
}
@media (max-width: 385px) {
  .footer_button {
    font-size: 15px;
    padding: 20px 40px;
  }
}
@media (max-width: 330px) {
  .footer_title {
    font-size: 26px;
  }
  .footer_subtitle {
    font-size: 14px;
  }
  .footer_button {
    font-size: 14px;
    padding: 20px 40px;
  }
  .site_creator {
    font-size: 12px;
  }
}
