.glow_line {
  width: 1.6px;
  height: 150px; /* Adjust height as needed */
  background: linear-gradient(to bottom, transparent, #a64eff, transparent);
  margin: 50px auto 10px auto; /* Centers the line horizontally */ 
}
.glow_line_mod{
  background: linear-gradient(to bottom, transparent, #be46a4, transparent);
}