:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  outline: none !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
@font-face {
  font-family: ouvality;
  src: url(./assets/fonts/Ouvality.ttf);
}
@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: arch;
  src: url(./assets/fonts/ArchivoBlack-Regular.ttf);
}
@font-face {
  font-family: bebas;
  src: url(./assets/fonts/BebasNeue.ttf);
}
@font-face {
  font-family: gilroy-extra;
  src: url(./assets/fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
  font-family: gilroy-semi;
  src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: gilroy-med;
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  scrollbar-width: none;
}
